---
import Layout from '../components/Layout.astro';
import json from '../data';
export async function getStaticPaths() {
  return json.map(({no,nama,asal})=>{return {params:{no},props:{no,nama,asal}}})
}

const {no,nama,asal}=Astro.props;
---
<Layout title="Data Induk">
  <main>
      <div>gambar</div>
      <div>
        <div><span class="tab">No. Induk</span>{no}</div>
        <div><span class="tab">Nama</span>{nama}</div>
        <div><span class="tab">Asal</span>{asal}</div>
      </div>
  </main>
</Layout>

<style>
  main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  main>div{
    border: 1px solid black;
  }
  .tab{
    display:inline-block;
    width:5rem;
  }
  main>div:nth-child(2)>div{
    border:1px solid darkgray;
  }
</style>